.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
mat-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
        margin: 3px;
        border: solid 1px black;
        background-color: rgba(230, 230, 240, 0.9);
        border-radius:10px !important;
        width: 200px
}


