<h1>AL Ummat High School</h1>
<div>
    By the name of Allah, the beneficent the merciful the aim of the society is to cater education amongst the people of bhiwandi in general and the Muslim in particular, with stress upon, character building training for all-round physical, mental & spiritual development of the student.

    <div>
        <em>“Separate arrangements for boys and girl’s junior college starting shortly”</em>
    </div>
</div>
 
<img src="./assets/images/home/home.png" height="500px" width="700px">
<div>
    
    
    <div>
        <h2>Vision:</h2>
        <ul>
            <li>
                To establish a standard English Medium school with keen stress upon moral Education and training
            </li>
            <li>
                To embark the students with latest knowledge and needs of the time.
            </li>
            <li>
                To find out the hidden Qualities of the students & mould them in proper direction.
            </li>
            <li>
                To acquaint the students with Islamic culture & heritage.
            </li>
            <li>
                To develop students for the competitive age of future with confidence & pride.
            </li>
        </ul>
    </div>
    
    <img src="./assets/images/home/home2.png" height="500px" width="700px">
    <div>
        <h2>Salient Feature:</h2>
        <ul>
            <li>
                <strong>Management: </strong> The school is Managed by the board of members (society members) and administration by the management committee and the principal.
            </li>
            <li>
                <strong>Teaching Staff:</strong> Well experienced and professional teachers are teaching subjects like English, Math, Science, History, Geography, Marathi, Moral Education (Islamiyat), Urdu etc.
            </li>
            <li>
                <strong>Facilities:</strong> The school is having all the facilities like bus service, Library (Books & CDs), Computer and AVI room, Science Lab, SMS Service etc.
            </li>
            <li>
                <strong>School uniform fees and stationary:</strong> School uniform is designed as per Islamic etiquettes. Fees is reasonable and discount is also offered to few poor students.
            </li>
            <li>
                <strong>Admission:</strong> Admission open from Jr. K.G. to Xth. Admission forms are available at school office from 12:00 to 03:00p.m.
                <em>“All classes are fully recognized by Govt. of Maharashtra.”</em>
            </li>
        </ul>
    </div>
</div>