<div>
    <h1>Al - Ummat English Medium School </h1>
    <h3>Management Members List (2020-2021) </h3>

    <ol>
        <li>Mr. Riyaz Tahir Momin. <em> (Secretary)</em> </li>
        <li>Prof. Parvez Sayyed. <em> (Chairman)</em>  </li>
        <li>Mr. Dr. Rehan Hawai. <em> (Management Member)</em> </li>
        <li>Mrs. Nafeesa Zubair Momin. <em> (Management Member)</em>  </li>
        <li>Mr. Saad Riyaz Momin. <em> (Management Member)</em> </li>
        <li>Mr. Aatif Riyaz Momin. <em> (Management Member)</em> </li>
        <li>Ms. Ayesha Riyaz Momin. <em> (Management Member)</em> </li>
        <li>Mrs. Nigar Shoeb Momin. <em> (Management Member)</em>  </li>
        <li>Ms. Sumbul Riyaz Momin. <em> (Management Member)</em> </li>
        <li>Ms. Afra Saad Momin. <em> (Management Member)</em> </li>
        <li>Ms. Sumiya Riyaz Momin. <em> (Management Member)</em> </li>
    </ol>
</div>